[submodule "ThirdParty/HoaLibrary"]
	path = ThirdParty/HoaLibrary
	url = https://github.com/CICM/HoaLibrary-Light.git
[submodule "ThirdParty/Max7-sdk"]
	path = ThirdParty/Max7-sdk
	url = https://github.com/Cycling74/max-sdk.git
