#################
## Visual Studio
#################

*.amplxeproj
*.tlog
*.obj
*.log
*.idb
*.pdb
*.lastbuildstate
*.ipch
*.opensdf
*.sdf
*.user
*.suo
*.sln
*.cache
*.unsuccessfulbuild
*.ilk
*.rc
*.manifest
*.res

sysbuild
log.txt
*.o
*.dylib
tmp

#################
## XCode
#################
xcuserdata/
xcshareddata/

*.build/
*.gcda

# Mac crap
.DS_Store

*.mode1V3
*.pbxuser

#################
## Max
#################

*.mxo
*.mxe
*.mxe64

externals
support
build
package-info.json
