[submodule "source/HoaLibrary"]
	path = source/HoaLibrary
	url = https://github.com/CICM/HoaLibrary-Light.git
[submodule "source/max-api"]
	path = source/max-api
	url = https://github.com/Cycling74/max-api.git
